<div class="container pt-4">
  <h1 id="content">Range</h1>
  <p class="bd-lead">Use our custom range inputs for consistent cross-browser styling and built-in customization.</p>

  <h2>Overview</h2>

  <p>Create custom <code>&lt;input type="range"&gt;</code> controls with <code>.form-range</code>. The track (the background) and thumb (the value) are both styled to appear the same across browsers. As only Firefox supports “filling” their track from the left or right of the thumb as a means to visually indicate progress, we do not currently support it.</p>

  <%= example_with_code do %>
    <label for="customRange1" class="form-label">Example range</label>
    <input type="range" class="form-range" id="customRange1">
  <% end %>
</div>
