<div class="container pt-4">
  <h1 id="content">Breakpoints</h1>
  <p>Breakpoints are customizable widths that determine how your responsive layout behaves across device or viewport sizes in Bootstrap.</p>

  <h2>Available breakpoints</h2>
  <p>Bootstrap includes six default breakpoints, sometimes referred to as grid tiers, for building responsively. These breakpoints can be customized if you’re using our source Sass files.</p>

  <table class="table">
    <thead>
      <tr>
        <th>Breakpoint</th>
        <th>Class infix</th>
        <th>Dimensions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>X-Small</td>
        <td><em>None</em></td>
        <td>&lt;576px</td>
      </tr>
      <tr>
        <td>Small</td>
        <td><code>sm</code></td>
        <td>≥576px</td>
      </tr>
      <tr>
        <td>Medium</td>
        <td><code>md</code></td>
        <td>≥768px</td>
      </tr>
      <tr>
        <td>Large</td>
        <td><code>lg</code></td>
        <td>≥992px</td>
      </tr>
      <tr>
        <td>Extra large</td>
        <td><code>xl</code></td>
        <td>≥1200px</td>
      </tr>
      <tr>
        <td>Extra extra large</td>
        <td><code>xxl</code></td>
        <td>≥1400px</td>
      </tr>
    </tbody>
  </table>

  <p>These breakpoints are customizable via Sass—you’ll find them in a Sass map in our _variables.scss stylesheet.</p>
</div>
