<div class="container pt-4">
  <h1 id="content">Spacing</h1>
  <p>Bootstrap includes a wide range of shorthand responsive margin, padding, and gap utility classes to modify an element’s appearance.</p>

  <h2 id="examples" class="mt-4">Margings and Paddings</h2>

  <ul>
    <li><code>0</code> - for classes that eliminate the <code>margin</code> or <code>padding</code> by setting it to <code>0</code></li>
    <li><code>1</code> - (by default) for classes that set the <code>margin</code> or <code>padding</code> to <code>$spacer * .25</code></li>
    <li><code>2</code> - (by default) for classes that set the <code>margin</code> or <code>padding</code> to <code>$spacer * .5</code></li>
    <li><code>3</code> - (by default) for classes that set the <code>margin</code> or <code>padding</code> to <code>$spacer</code></li>
    <li><code>4</code> - (by default) for classes that set the <code>margin</code> or <code>padding</code> to <code>$spacer * 1.5</code></li>
    <li><code>5</code> - (by default) for classes that set the <code>margin</code> or <code>padding</code> to <code>$spacer * 3</code></li>
    <li><code>auto</code> - for classes that set the <code>margin</code> to auto</li>
  </ul>

  <%= example_with_code do %>
    <div class="d-inline-block" style="width: 50px;">
      <div class="mb-2 text-center">5</div>
      <div class="bg-primary"><div class="pt-5 me-5"></div></div>
    </div>
    <div class="d-inline-block" style="width: 50px;">
      <div class="mb-2 text-center">4</div>
      <div class="bg-primary"><div class="pt-4 me-4"></div></div>
    </div>
    <div class="d-inline-block" style="width: 50px;">
      <div class="mb-2 text-center">3</div>
      <div class="bg-primary"><div class="pt-3 me-3"></div></div>
    </div>
    <div class="d-inline-block" style="width: 50px;">
      <div class="mb-2 text-center">2</div>
      <div class="bg-primary"><div class="pt-2 me-2"></div></div>
    </div>
    <div class="d-inline-block" style="width: 50px;">
      <div class="mb-2 text-center">1</div>
      <div class="bg-primary"><div class="pt-1 me-1"></div></div>
    </div>
  <% end %>
</div>
