<h1 id="content">Close button</h1>
<p class="bd-lead">A generic close button for dismissing content like modals and alerts.</p>

<h2>Example</h2>

<p>Provide an option to dismiss or close a component with <code>.btn-close</code>. Default styling is limited, but highly customizable. Modify the Sass variables to replace the default <code>background-image</code>. <strong>Be sure to include text for screen readers</strong>, as we’ve done with <code>aria-label</code>.</p>

<%= example_with_code do %>
  <button type="button" class="btn-close" aria-label="Close"></button>
<% end %>
